.industries{
    margin-left: 100px;
    margin-top: 150px;
    max-width: 1100px;
    height: 500px;
    width: 100%;
}
.industries-title{
    font-size: 60px;
    color: var(--colors-3);
}
.industries-block1{
    margin-top: 100px;
    height: 320px;
    max-width: 360px;
    width: 100%;
}
.industries-block2{
    margin-left: 370px;
    margin-top: -320px;
    height: 320px;
    max-width: 360px;
    width: 100%;
}
.industries-block3{
    margin-left: 740px;
    margin-top: -320px;
    height: 320px;
    max-width: 360px;
    width: 100%;
}
/* block1 */
.indust1-title1{
    margin-top: 16px;
    font-size: 40px;
    color: var(--colors-3);
}
.indust1-img1{
    max-width: 350px;
    width: 100%;
}
.induct1-p{
    margin-top: 20px;
    color: rgba(47, 53, 63, 0.7);
}
/* block2 */
.indust2-title1{
    margin-top: 20px;
    font-size: 40px;
    color: var(--colors-3);
}
.indust2-img1{
    max-width: 350px;
    width: 100%;
}
.induct2-p{
    margin-top: 20px;
    color: rgba(47, 53, 63, 0.7);
}
/* block3 */
.indust3-title1{
    margin-top: 20px;
    font-size: 40px;
    color: var(--colors-3);
}
.indust3-img1{
    max-width: 350px;
    width: 100%;
}
.induct3-p{
    margin-top: 20px;
    color: rgba(47, 53, 63, 0.7);
}

/*разрешение под компьютер */
@media(max-width:1920px){
    .industries{
    margin-left: 430px;
    }
}
/*разрешение под компьютер */
@media(max-width:1600px){
    .industries{
    margin-left: 270px;
    }
}
/*разрешение под компьютер */
@media(max-width:1440px){
    .industries{
    margin-left: 160px;
    }
}
/*разрешение под компьютер */
@media(max-width:1366px){
    .industries{
    margin-left: 140px;
    }
}
/*разрешение под компьютер */
@media(max-width:1350px){
    .industries{
    margin-left: 120px;
    }
}
/* разрешение по ноутбук */
@media(max-width:1024px){
    .industries{
        margin-left: 60px;
    }
    /* block1 */
    .industries-block1{
        max-width:300px
    }
    .induct1-p{
        font-size: 14px;
    }
    /* block2 */
    .industries-block2{
        width: 300px;
        margin-left: 320px;
    }
    .induct2-p{
        font-size: 14px;
    }
    /* block3 */
    .industries-block3{
        width: 300px;
        margin-left: 640px;
    }
    .induct3-p{
        font-size: 14px;
    }
}
/* разрешение по ноутбук */
@media(max-width:912px){
    .industries{
        margin-left: 50px;
    }
    /* block1 */
    .industries-block1{
        max-width:270px
    }
    .induct1-p{
        font-size: 13px;
    }
    /* block2 */
    .industries-block2{
        width: 270px;
        margin-left: 280px;
    }
    .induct2-p{
        font-size: 13px;
    }
    /* block3 */
    .industries-block3{
        width: 270px;
        margin-left: 560px;
    }
    .induct3-p{
        font-size: 13px;
    }
}
/* разрешение по ноутбук */
@media(max-width:820px){
    .industries{
        margin-left: 35px;
    }
    /* block1 */
    .industries-block1{
        max-width:240px;
    }
    .indust1-title1{
        font-size: 35px;
    }
    .induct1-p{
        font-size: 12px;
    }
    /* block2 */
    .industries-block2{
        width: 240px;
        margin-left: 250px;
    }
    .indust2-title1{
        font-size: 35px;
    }
    .induct2-p{
        font-size: 12px;
    }
    /* block3 */
    .industries-block3{
        width: 240px;
        margin-left: 500px;
    }
    .indust3-title1{
        font-size: 35px;
    }
    .induct3-p{
        font-size: 12px;
    }
}
/* разрешение по ноутбук */
@media(max-width:768px){
    .industries{
        margin-left: 20px;
    }
    /* block1 */
    .industries-block1{
        max-width:230px;
    }
    .indust1-title1{
        font-size: 35px;
    }
    .induct1-p{
        font-size: 11px;
    }
    /* block2 */
    .industries-block2{
        width: 230px;
        margin-left: 240px;
    }
    .indust2-title1{
        font-size: 35px;
    }
    .induct2-p{
        font-size: 11px;
    }
    /* block3 */
    .industries-block3{
        width: 230px;
        margin-left: 490px;
    }
    .indust3-title1{
        font-size: 35px;
    }
    .induct3-p{
        font-size: 11px;
    }
}
/* разрешение по телефон */
@media(max-width:560px){
    .industries{
        display: none;
        margin-top: 100px;
        margin-left: 40px;
    }
}